@keyframes crontrol-rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.crontrol-rotating {
	animation: crontrol-rotating 3s linear infinite;
}

table.wp-list-table {
	width: 100%;
	max-width: 100%;
	table-layout: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.wp-list-table pre {
	white-space: pre-wrap;
	margin: 0;
}

.wp-list-table code {
	background: transparent;
	padding: 0;
}

.wp-list-table td.column-status {
	white-space: nowrap;
}

.wp-list-table td.column-cb,
.wp-list-table tbody th {
	border-left: 4px solid transparent;
}

.wp-list-table tr.crontrol-no-action th,
.wp-list-table tr.crontrol-stalled th,
.wp-list-table tr.crontrol-warning th {
	border-color: #ffb900;
}

.wp-list-table tr.crontrol-error th {
	border-color: #dc3232;
}

#crontrol-hash-message {
	display: none;
}

.status-crontrol-complete,
.wp-list-table tr.crontrol-complete td.column-status {
	color: #080;
}

.status-crontrol-no-action,
.status-crontrol-stalled,
.status-crontrol-warning,
.wp-list-table tr.crontrol-no-action td.column-status,
.wp-list-table tr.crontrol-stalled td.column-status,
.wp-list-table tr.crontrol-warning td.column-status {
	color: #c60;
}

.status-crontrol-emergency,
.status-crontrol-alert,
.status-crontrol-critical,
.status-crontrol-error,
.wp-list-table tr.crontrol-error td.column-status {
	color: #a00;
}

.wp-list-table .column-https,
.wp-list-table .column-queries,
.wp-list-table .column-time {
	text-align: end;
}

.column-time,
.column-ran,
.column-crontrol_next {
	white-space: nowrap;
}

.row-actions .in-use {
	color: #666;
}

.form-field input[type="number"] {
	width: 100px;
}

.crontrol-edit-event-standard .crontrol-event-php,
.crontrol-edit-event-php .crontrol-event-standard {
	display: none;
}
