* text=auto

/.github export-ignore
/.wordpress-org export-ignore
/tests export-ignore

/.gitattributes export-ignore
/.gitignore export-ignore
/COPYING
/Gruntfile.js export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
