<?xml version="1.0"?>
<ruleset name="WP Crontrol">

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>Gruntfile.js</exclude-pattern>

	<rule ref="WordPress-Extra">

		<!-- Skip checks for naming and indentation because IDGAF: -->
		<exclude name="WordPress.Files.FileName" />
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />

		<!-- I'll fix this eventually: -->
		<exclude name="WordPress.PHP.DontExtract.extract_extract" />

	</rule>

	<rule ref="WordPress-Docs" />

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="wp-crontrol"/>
		</properties>
	</rule>

	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="4.1" />
		</properties>
	</rule>

</ruleset>
