includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/johnbillion/plugin-infrastructure/phpstan/extension.neon
parameters:
	level: 8
	paths:
		- wp-crontrol.php
		- src/
		# - tests/acceptance
	scanDirectories:
		- tests/_support/
		- vendor/lucatume/wp-browser/src/includes/factory/
	excludePaths:
		analyse:
			- tests/integration/Supports/
	bootstrapFiles:
		- tests/phpstan/stubs.php
