includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 8
	tmpDir: tests/cache
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- wp-crontrol.php
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
