WP_TESTS_DB_NAME="wordpress_test"
WP_TESTS_DB_USER="root"
WP_TESTS_DB_PASS=""
WP_TESTS_DB_HOST="localhost"

TEST_SITE_DB_DSN=mysql:host=localhost;dbname=wordpress_test
TEST_SITE_DB_HOST=localhost
TEST_SITE_DB_NAME=wordpress_test
TEST_SITE_DB_USER=root
TEST_SITE_DB_PASSWORD=
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=admin
TEST_SITE_WP_ADMIN_PATH=/wp-admin
WP_ROOT_FOLDER=tests/wordpress
TEST_DB_NAME=wordpress_test
TEST_DB_HOST=localhost
TEST_DB_USER=root
TEST_DB_PASSWORD=
TEST_TABLE_PREFIX=wp_
TEST_SITE_WP_URL=http://localhost:8000
TEST_SITE_WP_DOMAIN=localhost:8000
TEST_SITE_ADMIN_EMAIL=admin@example.com
